html {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  background: url(images/background.jpg) no-repeat bottom center fixed;
  background-size: auto 50%;
  background-color: #7999b7;
  height: 100vh;
  box-sizing: border-box;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

input {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 0px;
  font-size: 72px;
  flex: 1;
}

input::placeholder {
  color: gray;
}

#output {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  text-align: center;
  background-color: transparent;
  border: 0px;
  font-size: 72px;
  flex: 5;
}

.error#output {
  background-color: rgba(255, 0, 0, 0.5);
}

footer {
  height: 17px;
  background-color: black;
  color: white;
  font-size: 8px;
}

footer :any-link {
  color: white;
}
